
CREATE DATABASE [ClickShop]
GO

USE [ClickShop]
GO
/****** Object:  UserDefinedFunction [dbo].[KienTraDangNhap]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KienTraDangNhap](@TaiKhoan varchar(100), @MatKhau varchar(200))
RETURNS varchar(20)
AS
BEGIN
	DECLARE @LoaiTaiKhoan varchar(20)
	SET @MatKhau = dbo.MaHoaMD5(@MatKhau)
	-----------test-----------
	--DECLARE @MatKhau varchar(20)
    --DECLARE @TaiKhoan varchar(20)
	--SET @MatKhau = 1
	--SET @TaiKhoan = 'thuckha@gmail.com'
	-----------------
	SELECT @LoaiTaiKhoan= Ar.Role
	FROM AccountRole AR, Account A
	WHERE A.Email = @TaiKhoan AND A.Password = @MatKhau AND A.Email = AR.Email

	RETURN @LoaiTaiKhoan
END



GO
/****** Object:  UserDefinedFunction [dbo].[MaHoaMD5]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MaHoaMD5] (@pass varchar(200))
RETURNS varchar(200)
AS
BEGIN
	RETURN CONVERT(varchar(200), HashBytes('MD5', @pass), 2);
END


GO
/****** Object:  UserDefinedFunction [dbo].[UF_KiemTraTonTai]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_KiemTraTonTai] (@Email varchar(100))
RETURNS INT 
AS
BEGIN
	IF EXISTS (SELECT * FROM dbo.Account WHERE Email = @Email)
		RETURN 1;
	RETURN 0;
END	

GO
/****** Object:  Table [dbo].[Account]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[ImageLink] [varchar](400) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[DayOfBirth] [date] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_Account_CreatedDate]  DEFAULT (getdate()),
	[isAvailable] [bit] NOT NULL CONSTRAINT [DF_Account_isAvailable]  DEFAULT ((1)),
	[coin] [int] not null,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountRole](
	[Email] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Image]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImagePath] [varchar](400) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[UnitPrice] [decimal](19, 0) NOT NULL,
	[Gender] [int] NULL,
	[Description] [varchar](max) NULL,
	[Available] [int] NOT NULL CONSTRAINT [DF_Product_Available]  DEFAULT ((0)),
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[SubTotal] [decimal](19, 4) NOT NULL,
	[Address] [varchar](max) NULL,
	[Phone] [varchar](max) NULL,
	[Status] [varchar](20) NOT NULL CONSTRAINT [DF_PurchaseOrder_Status]  DEFAULT ((0)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_PurchaseOrder_CreatedDate]  DEFAULT (getdate()),
	[Name] [varchar](max) NULL,
	[CancelInvoice] [bit] NOT NULL CONSTRAINT [DF_PurchaseOrder_CancelInvoice]  DEFAULT ((1)),
 CONSTRAINT [PK_PURCHASEORDER] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[PurchaseOrderDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Cost] [decimal](19, 4) NOT NULL,
	[UnitPrice] [decimal](19, 4) NOT NULL,
	[Subtotal] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_PurchaseOrderDetailId] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shipper](
	[PurchaseOrderId] [int] NOT NULL,
	[ShipperId] [int] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK__Shipper__2A05CAB3DB5CEE87] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[DemTheoSub]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DemTheoSub]()
Returns table
as
	return (
		select Pro.SubCategoryId, SUM(A.soLanMua) as soLanMua
		from Product Pro, 
			(select Pur.ProductId, COUNT(*) as soLanMua
			from PurchaseOrderDetail Pur
			group by Pur.ProductId) A
		where A.ProductId = Pro.ProductId
		group by Pro.SubCategoryId
	)




GO
/****** Object:  UserDefinedFunction [dbo].[DemTheoCategory]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[DemTheoCategory]()
Returns table
as
	return select Sub.CategoryId, SUM(A.soLanMua) as soLanMua
	from SubCategory Sub, 
		DemTheoSub() A
	where A.SubCategoryId = Sub.SubCategoryId
	group by Sub.CategoryId




GO
/****** Object:  UserDefinedFunction [dbo].[CountNV]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CountNV]()
Returns table
as
	return (
		Select count(*)as soluongNV From AccountRole
		where AccountRole.Role = 'Saler' OR AccountRole.Role = 'Shipper'
	)




GO
/****** Object:  View [dbo].[OV_OrderView]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OV_OrderView] AS
SELECT P.PurchaseOrderId, P.CreatedDate , A.Email, P.SubTotal, P.Address, P.Phone FROM PurchaseOrder P, Account A WHERE A.AccountId = P.AccountId



GO
/****** Object:  View [dbo].[SV_initOrderList]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_initOrderList]
AS
SELECT P.PurchaseOrderId, A.Email, P.SubTotal, P.Address, P.Phone, P.Status
FROM Account A, PurchaseOrder P
WHERE A.AccountId= P.AccountId AND P.Status ='init'




GO
/****** Object:  View [dbo].[SV_OrtherDetailNoShip]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_OrtherDetailNoShip] AS

SELECT  PO.PurchaseOrderId, P.ProductId, Pro.Name, P.Quantity, P.Subtotal
FROM PurchaseOrderDetail P, Product Pro, PurchaseOrder PO
WHERE PRO.ProductId = P.ProductId AND PO.Status='init' AND PO.PurchaseOrderId = P.PurchaseOrderId 



GO
/****** Object:  View [dbo].[SV_OrtherDetailPicking]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_OrtherDetailPicking] AS
SELECT  PO.PurchaseOrderId, P.ProductId, Pro.Name, P.Quantity, P.Subtotal
FROM PurchaseOrderDetail P, Product Pro, PurchaseOrder PO, Shipper SP 
WHERE PRO.ProductId = P.ProductId AND SP.Status='Picking' AND PO.PurchaseOrderId = P.PurchaseOrderId AND SP.PurchaseOrderId=P.PurchaseOrderId
GO
/****** Object:  View [dbo].[SV_OrtherDetailShipping]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_OrtherDetailShipping] AS
SELECT  PO.PurchaseOrderId, P.ProductId, Pro.Name, P.Quantity, P.Subtotal
FROM PurchaseOrderDetail P, Product Pro, PurchaseOrder PO, Shipper SP 
WHERE PRO.ProductId = P.ProductId AND (SP.Status='Shipping' OR SP.Status='Picking' OR SP.Status='Cancel')   AND PO.PurchaseOrderId = P.PurchaseOrderId AND SP.PurchaseOrderId=P.PurchaseOrderId


GO
/****** Object:  View [dbo].[SV_pickupList]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_pickupList]
AS
SELECT S.PurchaseOrderId, S.ShipperId, A.Email, P.SubTotal, P.Address, P.Phone, S.Status
FROM Account A, PurchaseOrder P, Shipper S
WHERE A.AccountId= P.AccountId  AND S.PurchaseOrderId = P.PurchaseOrderId AND S.Status='Picking'



GO
/****** Object:  View [dbo].[SV_shipperList]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SV_shipperList] AS
SELECT A.AccountId, A.Email, A.FirstName, A.Phone, A.LastName, A.Address, A.Gender
FROM Shipper S, Account A, AccountRole AR
WHERE A.Email=AR.Email AND AR.Role='shipper'
GROUP BY A.AccountId, A.Email, A.FirstName, A.Phone, A.LastName, A.Address, A.Gender

GO
/****** Object:  View [dbo].[SV_shippingList]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SV_shippingList] AS
SELECT S.PurchaseOrderId, S.ShipperId, A.Email, P.SubTotal, P.Address, P.Phone, S.Status
FROM Account A, PurchaseOrder P, Shipper S
WHERE A.AccountId= P.AccountId  AND S.PurchaseOrderId = P.PurchaseOrderId AND P.Status ='Processing' AND (S.Status='shipping' OR S.Status='Cancel' OR S.Status='Completed')

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [Email], [Password], [ImageLink], [FirstName], [LastName], [Phone], [Address], [Gender], [DayOfBirth], [CreatedDate], [isAvailable]) VALUES (1, N'admin@yourstore.com', N'C4CA4238A0B923820DCC509A6F75849B', N'/img/user01.jpg', N'Pham', N'           Hoang Long', N'0929372005', N'Quan 9', N'M', CAST(N'1900-01-01' AS Date), CAST(N'2020-11-30 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Account] ([AccountId], [Email], [Password], [ImageLink], [FirstName], [LastName], [Phone], [Address], [Gender], [DayOfBirth], [CreatedDate], [isAvailable]) VALUES (2, N'tuankiet@gmail.com', N'C4CA4238A0B923820DCC509A6F75849B', N'/img/user02.jpg', N'Nguyen', N'Tuan Kiet', N'0904755055', N'Quan 9', N'M', CAST(N'2000-01-02' AS Date), CAST(N'2020-11-30 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Account] ([AccountId], [Email], [Password], [ImageLink], [FirstName], [LastName], [Phone], [Address], [Gender], [DayOfBirth], [CreatedDate], [isAvailable]) VALUES (3, N'thuckha@gmail.com', N'C4CA4238A0B923820DCC509A6F75849B', N'/img/user03.jpg', N'Pham', N'Thuc Kha', N'0904152369', N'Phu Nhuan', N'M', CAST(N'2000-01-03' AS Date), CAST(N'2020-11-30 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
INSERT [dbo].[AccountRole] ([Email], [Role]) VALUES (N'admin@yourstore.com', N'Administrator')
INSERT [dbo].[AccountRole] ([Email], [Role]) VALUES (N'kimhoang@gmail.com', N'Administrator')
INSERT [dbo].[AccountRole] ([Email], [Role]) VALUES (N'longpham31@yahoo.com', N'USER')
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (4, N'Accessories')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Men Shoes')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Tee (Unisex)')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [ProductId], [ImagePath], [DisplayOrder]) VALUES (1, 1, N'/image_product/Chelsea01.jpg', 1)
INSERT [dbo].[Image] ([ImageId], [ProductId], [ImagePath], [DisplayOrder]) VALUES (2, 2, N'/image_product/Chelsea02.jpg', 1)
INSERT [dbo].[Image] ([ImageId], [ProductId], [ImagePath], [DisplayOrder]) VALUES (3, 3, N'/image_product/Chelsea03.jpg', 1)
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [SubCategoryId], [Name], [UnitPrice], [Gender], [Description], [Available]) VALUES (1, 1, N'The Basic Wolf Chelsea Boots - Black', CAST(1700000 AS Decimal(19, 0)), 0, N'Black, Cowhide Material,Rubber Shoe Sole, 3.5cm high', 1)
INSERT [dbo].[Product] ([ProductId], [SubCategoryId], [Name], [UnitPrice], [Gender], [Description], [Available]) VALUES (2, 1, N'The Basic Chealsea Boots - Tan', CAST(1600000 AS Decimal(19, 0)), 0, N'Tan, Cowhide Material, Canvas Lining, Rubber Shoe Sole, 3.5cm high', 3)
INSERT [dbo].[Product] ([ProductId], [SubCategoryId], [Name], [UnitPrice], [Gender], [Description], [Available]) VALUES (3, 1, N'The Classic Chealsea Boots - Black', CAST(1800000 AS Decimal(19, 0)), 0, N'Black, Glossy, Cowhide Material,Canvas Lining, Rubber Shoe Sole, 2.5cm high', 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([PurchaseOrderId], [AccountId], [SubTotal], [Address], [Phone], [Status], [CreatedDate], [Name], [CancelInvoice]) VALUES (1, 5, CAST(1680000.0000 AS Decimal(19, 4)), N'Thu Duc', N'0923991122', N'Completed', CAST(N'2020-12-01 00:00:00.000' AS DateTime), N'Ngoc Uyen', 1)
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderId], [AccountId], [SubTotal], [Address], [Phone], [Status], [CreatedDate], [Name], [CancelInvoice]) VALUES (2, 2, CAST(7.0000 AS Decimal(19, 4)), N'Quan 2', N'540474747', N'Completed', CAST(N'1905-07-01 00:00:00.000' AS DateTime), N'TranH ung Dao', 1)
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderId], [AccountId], [SubTotal], [Address], [Phone], [Status], [CreatedDate], [Name], [CancelInvoice]) VALUES (3, 1, CAST(2.0000 AS Decimal(19, 4)), N'Quan 7', N'066332', N'Processing', CAST(N'1905-07-01 00:00:00.000' AS DateTime), N'Bray', 1)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] ON 

INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [Cost], [UnitPrice], [Subtotal]) VALUES (1, 1, 26, 300, CAST(1500000.0000 AS Decimal(19, 4)), CAST(1500000.0000 AS Decimal(19, 4)), CAST(1500000.0000 AS Decimal(19, 4)))
INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [Cost], [UnitPrice], [Subtotal]) VALUES (2, 2, 2, 1, CAST(1.0000 AS Decimal(19, 4)), CAST(1.0000 AS Decimal(19, 4)), CAST(1.0000 AS Decimal(19, 4)))
INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [Cost], [UnitPrice], [Subtotal]) VALUES (3, 2, 13, 2, CAST(2.0000 AS Decimal(19, 4)), CAST(3.0000 AS Decimal(19, 4)), CAST(6.0000 AS Decimal(19, 4)))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] OFF
INSERT [dbo].[Shipper] ([PurchaseOrderId], [ShipperId], [Status]) VALUES (3, 22, N'Cancel')
INSERT [dbo].[Shipper] ([PurchaseOrderId], [ShipperId], [Status]) VALUES (4, 22, N'Shipping')
INSERT [dbo].[Shipper] ([PurchaseOrderId], [ShipperId], [Status]) VALUES (6, 22, N'Picking')
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [Name]) VALUES (1, 1, N'Chealsea Boots - Men')
INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [Name]) VALUES (2, 1, N'Derby')
INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [Name]) VALUES (3, 1, N'Harness Boots')
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_ACCOUNT_EMAIL]    Script Date: 02/01/2021 9:08:57 CH ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UC_ACCOUNT_EMAIL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_ACCOUNTROLE_EMAIL_ROLE]    Script Date: 02/01/2021 9:08:57 CH ******/
ALTER TABLE [dbo].[AccountRole] ADD  CONSTRAINT [UQ_ACCOUNTROLE_EMAIL_ROLE] UNIQUE NONCLUSTERED 
(
	[Email] ASC,
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_CATEGORY_NAME]    Script Date: 02/01/2021 9:08:57 CH ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UC_CATEGORY_NAME] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_PRODUCTNAME]    Script Date: 02/01/2021 9:08:57 CH ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [UC_PRODUCTNAME] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UC_SUBCATEGORY_NAME]    Script Date: 02/01/2021 9:08:57 CH ******/
ALTER TABLE [dbo].[SubCategory] ADD  CONSTRAINT [UC_SUBCATEGORY_NAME] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountRole]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_ACCOUNT] FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[AccountRole] CHECK CONSTRAINT [FK_EMAIL_ACCOUNT]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_PRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_IMAGE_PRODUCT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_SUBCATEGORYID_PRODUCT] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_SUBCATEGORYID_PRODUCT]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASEORDER_ACCOUNT] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PURCHASEORDER_ACCOUNT]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASEORDERDETAIL_PRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] CHECK CONSTRAINT [FK_PURCHASEORDERDETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASEORDERDETAIL_PURCHCASEORDER] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] CHECK CONSTRAINT [FK_PURCHASEORDERDETAIL_PURCHCASEORDER]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [FK__Shipper__Purchas__5CD6CB2B] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [FK__Shipper__Purchas__5CD6CB2B]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SUBCATEGORY_CATEGORY] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SUBCATEGORY_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[OSP_CapNhanDonHang]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OSP_CapNhanDonHang]
@PurchaseOrderId INT, @Address varchar(MAX), @Phone varchar(MAX)
AS

BEGIN
	UPDATE dbo.PurchaseOrder SET Address = @Address, Phone = @Phone WHERE PurchaseOrderId = @PurchaseOrderId
END




GO
/****** Object:  StoredProcedure [dbo].[OSP_CapNhatChiTiet]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OSP_CapNhatChiTiet]
@PurchaseOrderDetailId BIGINT, @PurchaseOrderId INT, @ProductId INT, @Quantity INT, @UnitPrice decimal(19, 4), @Subtotal decimal(19, 4)
AS

BEGIN
	UPDATE dbo.PurchaseOrderDetail SET ProductId = @ProductId, Quantity = @Quantity, UnitPrice = @UnitPrice, Subtotal = @Subtotal
	WHERE PurchaseOrderId = @PurchaseOrderId AND PurchaseOrderDetailId = @PurchaseOrderDetailId
END



GO
/****** Object:  StoredProcedure [dbo].[PSP_CapNhatSanPham]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_CapNhatSanPham]
(@proID INT, @SubCate INT , @Name VARCHAR(100),@imgPath varchar(400), @UnitPrice decimal(19,0), @Gender INT, @Description varchar(MAX), @Available INT)
AS
BEGIN
	UPDATE Product 
	SET SubCategoryId= @SubCate,
		Name=@Name,
		UnitPrice= @UnitPrice,
		Gender= @Gender,
		Description= @Description,
		Available= @Available
	 WHERE ProductId= @proID

	 UPDATE dbo.Image SET ImagePath = @imgPath WHERE ProductId = @proID


END

GO
/****** Object:  StoredProcedure [dbo].[PSP_ThemSP]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PSP_ThemSP]
@SubCate INT , @Name VARCHAR(100),@imgPath varchar(400), @UnitPrice decimal(19,0), @Gender INT, @Description varchar(MAX), @Available INT
AS
BEGIN
	INSERT dbo.Product
	        ( SubCategoryId ,
	          Name ,
	          UnitPrice ,     
	          Gender ,
	          Description ,
	          Available
	        )
	VALUES  ( @SubCate , -- SubCategoryId - int
	          @Name , -- Name - varchar(100)
	          @UnitPrice , -- UnitPrice - decimal      
	          @Gender , -- Gender - int
	          @Description , -- Description - varchar(max)
	          @Available  -- Available - bit
	        )

	DECLARE @proID INT
	SELECT @proID = MAX(ProductId) FROM dbo.Product
	INSERT dbo.Image
	        ( ProductId ,
	          ImagePath ,
	          DisplayOrder
	        )
	VALUES  ( @proID , -- ProductId - int
	          @imgPath , -- ImagePath - varchar(400)
	          1  -- DisplayOrder - int
	        ) 



END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapNhatUser]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------


CREATE PROCEDURE [dbo].[USP_CapNhatUser]
@Email varchar(100), @FirstName varchar(50), @LastName varchar(50), @Phone varchar(20), 
@Address varchar(200), @Gender varchar(1), @DayOfBirth DATE
AS
BEGIN
	UPDATE dbo.Account SET FirstName = @FirstName, LastName = @LastName, Phone = @Phone,
	 Address = @Address, DayOfBirth = @DayOfBirth WHERE Email = @Email
END




GO
/****** Object:  StoredProcedure [dbo].[USP_DangKy]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DangKy]
(@Email varchar(100), @Pass varchar(100), @FirstName varchar(50), @LastName varchar(50), @Phone varchar(20), 
@Address varchar(200), @Gender varchar(1), @DayOfBirth DATE)
AS
BEGIN
		INSERT dbo.Account
		        ( Email ,
		          Password ,
		          ImageLink ,
		          FirstName ,
		          LastName ,
		          Phone ,
		          Address ,
		          Gender ,
		          DayOfBirth ,
		          CreatedDate ,
		          isAvailable
		        )
		VALUES  ( @Email , -- Email - varchar(100)
		          @Pass , -- Password - varchar(200)
		          'none' , -- ImageLink - varchar(400)
		          @FirstName , -- FirstName - varchar(50)
		          @LastName , -- LastName - varchar(50)
		          @Phone , -- Phone - varchar(20)
		          @Address , -- Address - varchar(200)
		          @Gender , -- Gender - varchar(1)
		          @DayOfBirth , -- DayOfBirth - datetime
		          GETDATE() , -- CreatedDate - datetime
		          1  -- isAvailable - bit
		        )
		INSERT dbo.AccountRole
		        ( Email, Role )
		VALUES  ( @Email, -- Email - varchar(100)
		          'USER'  -- Role - varchar(20)
		          )
END 



GO
/****** Object:  StoredProcedure [dbo].[USP_TaoUser]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_TaoUser] 
(@Email varchar(100), @FirstName varchar(50), @LastName varchar(50), @Phone varchar(20), 
@Address varchar(200), @Gender varchar(1), @DayOfBirth DATE, @Role varchar(20))
AS
BEGIN
		INSERT dbo.Account
		        ( Email ,
		          Password ,
		          ImageLink ,
		          FirstName ,
		          LastName ,
		          Phone ,
		          Address ,
		          Gender ,
		          DayOfBirth ,
		          CreatedDate ,
		          isAvailable
		        )
		VALUES  ( @Email , -- Email - varchar(100)
		          '1' , -- Password - varchar(200)
		          'none' , -- ImageLink - varchar(400)
		          @FirstName , -- FirstName - varchar(50)
		          @LastName , -- LastName - varchar(50)
		          @Phone , -- Phone - varchar(20)
		          @Address , -- Address - varchar(200)
		          @Gender , -- Gender - varchar(1)
		          @DayOfBirth , -- DayOfBirth - datetime
		          GETDATE() , -- CreatedDate - datetime
		          1  -- isAvailable - bit
		        )
		INSERT dbo.AccountRole
		        ( Email, Role )
		VALUES  ( @Email, -- Email - varchar(100)
		          @Role  -- Role - varchar(20)
		          )
END 




GO
/****** Object:  Trigger [dbo].[MaHoa]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER ThemCoin
   ON  Account
   AFTER  INSERT
AS
BEGIN
	DECLARE @id VARCHAR(100)

	SELECT @id = Inserted.Email
	FROM Inserted

	UPDATE dbo.Account
	SET coin = 20000000
	WHERE Email = @id
END
GO

CREATE TRIGGER [dbo].[MaHoa]
ON [dbo].[Account]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @newPass VARCHAR(200),@oldPass VARCHAR(200), @id VARCHAR(100)


	SELECT @newPass = Inserted.Password
	FROM Inserted

	
	SELECT @oldPass = Deleted.Password
	FROM Deleted

	PRINT @newPass  
	PRINT @oldPass
	IF @newPass <> @oldPass
	BEGIN
		SELECT @newPass = Inserted.Password, @id = Inserted.Email 
		FROM Inserted
		SET @newPass = dbo.MaHoaMD5(@newPass)
		UPDATE dbo.Account 
		SET Password = @newPass
		WHERE Email = @id
	END
END
GO
/****** Object:  Trigger [dbo].[UTG_Account_tuoiNVLonHon18]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------------------------------
-- Không cho cập nhật thông tin nếu tuổi mới nhập vào nhỏ hơn 18
CREATE TRIGGER [dbo].[UTG_Account_tuoiNVLonHon18]
ON [dbo].[Account]
FOR UPDATE
AS
BEGIN
		DECLARE @Count INT = 0
		SELECT @Count = COUNT(*) FROM Inserted, dbo.AccountRole Ar
		WHERE Ar.Email = Inserted.Email AND
		YEAR(GETDATE()) - YEAR(Inserted.DayOfBirth) < 18 AND
		Ar.Role <> 'USER'

		IF(	@Count > 0)
		BEGIN
			PRINT N'không được cập nhật tuổi nhân viên nhỏ hơn 18'
			ROLLBACK TRAN
		END	
END

GO
/****** Object:  Trigger [dbo].[UTG_AccountRole_tuoiLonHon18]    Script Date: 02/01/2021 9:08:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Không cho phép thêm nhân viên (sale person, shipper) có tuổi nhỏ hơn 18 tuổi.
-- thêm nhân viên, chuyển thằng nhỏ hơn 18 tuổi từ USER qua nhân viên
CREATE TRIGGER [dbo].[UTG_AccountRole_tuoiLonHon18]
ON [dbo].[AccountRole]
FOR  INSERT, UPDATE
AS 
BEGIN 
	DECLARE @Count INT = 0
	DECLARE @Email varchar(100)
	--thực hiện câu truy vấn
	SELECT @Count = COUNT(*), @Email = Inserted.Email
	FROM Inserted , dbo.Account acc
	WHERE acc.Email = Inserted.Email AND  YEAR(GETDATE()) - YEAR(acc.DayOfBirth) < 18 AND
    (Inserted.Role = 'ADMINISTRATOR' OR Inserted.Role ='SHIPPER' OR Inserted.Role ='SALER')
	GROUP BY Inserted.Email
	-- đếm số nhân viên vi phạm 
	IF(@Count > 0)
	BEGIN
		ROLLBACK TRAN
		DELETE dbo.Account WHERE Email = @Email
	END 
END

GO
USE [master]
GO
