USE [ClickShop]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 1/10/2021 9:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ProductSizeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Size] [char](10) NULL,
	[Available] [int] NULL,
 CONSTRAINT [PK__ProductS__9DADF511EF6F20C0] PRIMARY KEY CLUSTERED 
(
	[ProductSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([ProductSizeId], [ProductID], [Size], [Available]) VALUES (1, 1, N'39', 5)
INSERT [dbo].[ProductSize] ([ProductSizeId], [ProductID], [Size], [Available]) VALUES (2, 1, N'40', 5)
INSERT [dbo].[ProductSize] ([ProductSizeId], [ProductID], [Size], [Available]) VALUES (3, 1, N'41', 5)
GO

SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [Productt_FK] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [Productt_FK]
GO
